@model BMS.Models.Movies
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Movie";
}




<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-12 border-bottom text-center">
            <h2 class="text-primary">@title</h2>
            <div class="text-center"><p> Created data will store in MongoDb created by using CosmosDb service.</p></div>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MovieName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MovieName" class="form-control" />
                    <span asp-validation-for="MovieName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Actor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Actor" class="form-control" />
                    <span asp-validation-for="Actor" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="length"></label>
                </div>
                <div class="col-8">
                    <input asp-for="length" class="form-control" />
                    <span asp-validation-for="length" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    Image
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">

                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger form-control">Cancel</a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-success form-control">Create Movie</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/m0yrc02gypdwbpw2su9vwys5mahxctd2f8lu5faa4uc5ydr5/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
     @*   tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
         *@
        $(document).on('submit', 'form', function () {
            var buttons = $(this).find('[type="submit"]');
            if ($(this).valid()) {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', true);
                });
            } else {
                buttons.each(function (btn) {
                    $(buttons[btn]).prop('disabled', false);
                });
            }
        });

        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                swal("Error", "Please select an image", "error");
                return false;
            }
            return true;
        };</script>

}